@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Alegreya Sans Sc";
}

body {
    background-image: url(../img/profile-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    margin-left: 3rem;
    padding-bottom: 1rem;
}

nav a:hover {
    border-bottom: 5px solid white;
}

header {
    padding: 1.2rem 3.4rem;
}

.text a {
    font-weight: 900;
    color: white;
    font-size: 1.5rem;
}

.input input {
    width: 30rem;
    padding: .3rem 3rem;
    border: none;
    border-radius: 50px;
    font-size: 1.3rem;
}

.login-btn button {
    border: none;
    background-color: #D3B581;
    color: white;
    font-weight: 700;
    padding: .5rem 2rem;
    border-radius: 50px;
}

.separator-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0;
    margin-bottom: 1rem;
}

.separator-line {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    margin: 0 10px;
}

.separator-text {
    white-space: nowrap;
}

.input {
    position: relative;
}

.input .fa{
    position: absolute;
    left: 15px;
    top: 68%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 1.2rem;
}

section {
    padding-top: 3rem;
    height: 100vh;
}

.social-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 1.5rem;
}

.social-btn img{
    cursor: pointer;
}

footer {
    height: auto;
    background-color: #101515;
    padding: 3rem 0;
}

.footer-container {
    gap: 6rem;
}

.footer-col{
    width: 10rem;
}

.footer-col a {
    text-decoration: none;
    font-family: "Poppins";
    color: rgb(197, 197, 197);
    font-weight: 300;
    font-size: .9rem;
}

.footer-col a:hover {
    color: white;
}

.footer-col h3 {
    font-family: "Poppins";
    font-size: 1.5rem;
    margin-bottom: 0;
    color: white;
}