@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Alegreya Sans Sc";
}

.btn {
    background-color: #D3B581;
    border: none;
    color: white;
    max-width: 35rem;
    font-weight: 900;
    border-radius: 25px;
    font-size: 1.8rem;
    text-align: center;
}

.btn:hover {
    background-color: #ecd5ad;
    color: white;
}

.submit-btn {
    background-color: #D3B581;
    border: none;
    color: white;
    font-weight: 900;
    padding: 0.2rem 1rem;
    border-radius: 25px;
    font-size: 2rem;
}


nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    margin-left: 3rem;
    padding-bottom: 1rem;
}

nav a:hover {
    border-bottom: 5px solid white;
}

header {
    padding: 1.2rem 3.4rem;
}

.text a {
    font-weight: 900;
    color: white;
    font-size: 1.5rem;
}

.upper-section {
    background-image: url(../img/quiz1-bg.png);
    min-height: 100vh;
    background-size: cover;
}

.quest-header {
    padding-left: 10rem;
    padding-top: 5rem;
    color: white;
}

.quest-header h1 {
    font-weight: 900;
}

.quest-body {
    margin-top: 2rem;
    padding: 0 15rem;
}

.quest-body p {
    font-size: 3rem;
    color: white;
    font-weight: 900;
}

footer {
    height: auto;
    background-color: #101515;
    padding: 3rem 0;
}

.footer-container {
    gap: 6rem;
}

.footer-col{
    width: 10rem;
}

.footer-col a {
    text-decoration: none;
    font-family: "Poppins";
    color: rgb(197, 197, 197);
    font-weight: 300;
    font-size: .9rem;
}

.footer-col a:hover {
    color: white;
}

.footer-col h3 {
    font-family: "Poppins";
    font-size: 1.5rem;
    margin-bottom: 0;
    color: white;
}