@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    /* background-color: #1a1a1a; */
    background-image: url(../img/quiz-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: "Alegreya Sans SC";
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    margin-left: 3rem;
    padding-bottom: 1rem;
}

nav a:hover {
    border-bottom: 5px solid white;
}

header {
    padding: 1.2rem 3.4rem;
}

.text a {
    font-weight: 900;
    color: white;
    font-size: 1.5rem;
}

section {
    height: 100vh;
    width: 100%;
    padding: 2rem 13rem;
}

.subs-box {
    width: 20rem;
    border-radius: 2.1rem;
    padding: 2rem 2.5rem;
    height: autorem;
    background: #1D1D1D;
    box-shadow: 0px 2px 5px 0px #000;   
}

.select-btn{
    color: white;
    font-weight: 700;
    background-color: #D3B581;
    padding: 0.8rem 4rem;
    border-radius: 50px;
    border: none;
    font-size: 1.5rem;
}





footer {
    height: auto;
    background-color: #101515;
    padding: 3rem 0;
}

.footer-container {
    gap: 6rem;
}

.footer-col{
    width: 10rem;
}

.footer-col a {
    text-decoration: none;
    font-family: "Poppins";
    color: rgb(197, 197, 197);
    font-weight: 300;
    font-size: .9rem;
}

.footer-col a:hover {
    color: white;
}

.footer-col h3 {
    font-family: "Poppins";
    font-size: 1.5rem;
    margin-bottom: 0;
    color: white;
}